
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

:root {
    /* Primary */
    --cyan-400: hsl(185, 75%, 39%);
    --blue-700: hsl(229, 23%, 23%);
    --blue-gray-400: hsl(227, 10%, 46%);
    /* Neutral */
    --gray-300: hsla(0, 0%, 59%, 0.25);
    /* Typography */
    --ff: 'Kumbh Sans', sans-serif;
    --fs: 18px;
    --fw-bold: 700;
    --fw-regular: 400;
}

body {
    box-sizing: content-box;
    margin: 0;
    font-family: var(--ff);
    font-weight: var(--fw-regular);
    font-size: var(--fs);
    color: var(--blue-700);
    background-color: var(--cyan-400);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}


.bg-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}   

.bg.top {
    margin-bottom: 850px;
}

.bg.bottom {
    margin-top: 850px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.25);
}

.card .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    padding-bottom: 1rem;
}

.profile-container .profile-main {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-main .image {
    position: absolute;
    top: -48px;
    width: 96px;
    height: 96px;
    border-radius: 96px;
    border: 4px solid white;
    overflow: hidden;
}

.profile-main .info {
    margin-top: 5rem;
    display: flex;
    gap: .5rem;
}

.info .name {
    font-weight: var(--fw-bold);
}

.info .age {
    color: var(--blue-gray-400);
}

.location {
    margin-top: .5rem;
    font-size: .9rem;
    color: var(--blue-gray-400);
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3.5rem;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    border-top: 1px solid var(--gray-300);
}

.stat {
    text-align: center;
}

.stat .count {
    margin: 0;
    line-height: 1.5rem;
    font-size: 1rem;
}

.stat .detail {
    font-size: .6rem;
    color: var(--blue-gray-400);
    letter-spacing: .1rem;
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: white; text-decoration: none; }